* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

:root {
    --clr-main: #F3EEEA;
    --clr-main-light: #EAD7BB;
}

.container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
}


.main-title {
    margin-top: 2rem;
}

.navbar {
    padding: 1rem;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-main);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img{
    text-decoration: none;
    color: black;
    
}


.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    text-decoration: none;
    color: #7a7979; 
    font-size: 16px;
    margin: 0 5px; 
    text-transform: uppercase; 
    transition: color 0.3s;
}

.menu-link:hover {
    color: #0e0900;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
}

.producto {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 2px 20px 2px #0e09003b;
    transition: .5s
}

.producto:hover{
    box-shadow: 0px 2px 20px 5px #0e0900a2;

}

.producto > div {
    padding: 1rem;
    background-color: rgba(214, 214, 214, 0.178);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}



.producto > img {
    width: auto; 
    height: auto; 
    transition: transform 0.3s;
}

.producto .ver-mas {
    text-decoration: none;
    background-color: #331D2C;
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
}

.producto .ver-mas:hover {
    background-color: black;
    color: white;
}

.producto-detalle {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.producto-detalle img {
    width: 100%;
    box-shadow: 0px 2px 20px 5px #0e09003b;
}

.producto-detalle-info h3 {
    font-size: 2rem;
}

.categoria {
    font-size: .8rem;
    color: #424242;
    margin-top: 1rem;
}

.precio {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

.item-count {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.item-count button, .agregar-al-carrito, .enviar {
    background-color: #331D2C;
    border: 0;
    width: 2rem;
    height: 2rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid var(--clr-main);
    transition: .2s;
}

.item-count button:hover, .agregar-al-carrito:hover, .enviar:hover {
    background-color: white;
    color: black;
}

.agregar-al-carrito, .enviar {
    width: auto;
    height: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.vaciar{
    margin-top: 10px;
    text-decoration: none;
    background-color: #331D2C;
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    text-transform: uppercase;
    transition: .2s;
    

}

.vaciar:hover {
    background-color: black;
    color: white;
}

.finalizarCompra{
    margin-top: 10px;
    margin-left: 50px;
    text-decoration: none;
    background-color: #331D2C;
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    text-transform: uppercase;
    transition: .2s;

}

.finalizarCompra:hover {
    background-color:rgb(0, 49, 0);
    color: white;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: 2px solid black;
}

.formulario input:focus {
    outline: 0;
    border: 2px solid var(--clr-main);
    outline: 2px solid var(--clr-main);
}